<h1>Mutaciones</h1>
<hr />

<div class="row">
  <div class="col-6">
    <input
      type="text"
      #txtEmail
      class="form-control"
      (input)="onFieldUpdated('email', txtEmail.value)"
      [value]="user().email"
    />
    <input
      type="text"
      #txtFirstName
      class="form-control my-2"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
    />
    <input
      type="text"
      #txtLastName
      class="form-control"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
    />
  </div>
  <div class="col-6">
    <pre>{{ user() | json }}</pre>
  </div>
</div>
